.fondo {background-color: bisque;
    text-align: justify;
}

.titulo{
    text-align: left;
    font-size:xx-large;
    font-style: oblique;
}
.foto{
    float: left;
    padding:1px 20px 5px 5px;
    background-size: cover;
    width: 150px;
    border-radius: 50px;
}
.contacto{
    font-size: 2rem;
}
p{
    font-style: italic
}


